In [13]:
import sqlite3, pandas

def execute_query(db_file, query):
    try:
        return pandas.read_sql_query(query, sqlite3.connect(db_file))
    except sqlite3.Error as e:
        print(e)
prefix = "/Users/lisizhe/Desktop/Data management/"      
SalesOrders = prefix + "SalesOrders.sqlite"
SchoolScheduling = prefix + "SchoolScheduling.sqlite"

In [14]:
import os
os.getcwd()

'/Users/lisizhe/Desktop/Data management'

## Sample Question on SalesOrders.sqlite: What bikes (CategoryID=2) cost more than $1000?

In [15]:
# We can write multi-line string expressions in Python using three single quotes as below.
query = '''
SELECT ProductName, RetailPrice
FROM Products
WHERE CategoryID=2 AND RetailPrice > 1000;
'''

print(execute_query(SalesOrders, query))#execute the query on the database

                ProductName  RetailPrice
0   Trek 9000 Mountain Bike         1200
1  Eagle FS-3 Mountain Bike         1800
2    GT RTS-2 Mountain Bike         1650

### Your assignment starts from here. In your submission, delete all unnessecary code. Only leave the query string.

In [ ]:
print("Name:", "Name") ###TODO
print("NetID:", "NetID") ###TODO

# SchoolScheduling.sqlite

### P1. How many students are majoring in English or Mathematics?

In [17]:
####TODO 1: put your sql query in the following three single quotes
query1 = '''
SELECT count(*) FROM Students
WHERE Students.StudMajor = (SELECT MajorID FROM Majors 
WHERE Major = 'English')  OR Students.StudMajor = (SELECT MajorID FROM Majors 
WHERE Major = 'Mathematics');
'''
print(execute_query(SchoolScheduling, query1))

   count(*)
0         6

### P2. What is the percentage of students with majors in "English" or "Mathematics"?

In [18]:
####TODO 2: put your sql query in the following three single quotes
query2 = '''
SELECT 100.0 *count(*)/(SELECT count(*) FROM Students)
FROM Students WHERE StudMajor IN (2,7);
'''

print(execute_query(SchoolScheduling, query2))

   100.0 *count(*)/(SELECT count(*) FROM Students)
0                                        33.333333

### P3. How many unique last names does the staff have?

In [19]:
####TODO 3: put your sql query in the following three single quotes
query3 = '''
SELECT count(DISTINCT(Staff.StfLastname)) FROM Staff;
'''

print(execute_query(SchoolScheduling, query3))

   count(DISTINCT(Staff.StfLastname))
0                                  19

### P4. Each staff member has a proficiency rating for a number of subjects. For each staff member we can calculate its average proficiency rating (average across all subjects). What is the minimum value of the average proficiency rating of the staff?

In [20]:
####TODO 4: put your sql query in the following three single quotes
query4 = '''
SELECT min(avgrate) FROM (SELECT avg(Faculty_Subjects.ProficiencyRating) 
AS avgrate FROM Faculty_Subjects GROUP BY Faculty_Subjects.StaffID);
'''

print(execute_query(SchoolScheduling, query4))

   min(avgrate)
0      8.333333

### P5. In the Staff table, which last names have a length longer than 9 characters?

In [21]:
####TODO 5: put your sql query in the following three single quotes
query5 = '''
SELECT Staff.StfLastname FROM Staff
WHERE length(Staff.StfLastname) > 9;
'''

print(execute_query(SchoolScheduling, query5))

   StfLastname
0   Bonnicksen
1  Rosales III

# SalesOrders.sqlite

### P6. How many customers live in TX?

In [ ]:
####TODO 6: put your sql query in the following three single quotes
query6 = '''
SELECT count(*) FROM Customers WHERE CustState = "TX";
''';

print(execute_query(SalesOrders, query6))

### P7. What are the top 5 highest revenue amounts that product number 3 has ever generated in a sale?

In [ ]:
####TODO 7: put your sql query in the following three single quotes
query7 = '''
SELECT (Order_Details.QuantityOrdered*Order_Details.QuotedPrice) AS 
revenueAmount FROM Order_Details WHERE Order_Details.ProductNumber = 3
ORDER BY revenueAmount DESC LIMIT 5;
''';

print(execute_query(SalesOrders, query7))

### P8. How many orders has a customer named Alaina Hallmark placed so far?

In [ ]:
####TODO 8: put your sql query in the following three single quotes
query8 = '''
SELECT count(*) AS orderNum FROM Orders WHERE Orders.CustomerID = 
(SELECT Customers.CustomerID FROM Customers WHERE
Customers.CustLastName = "Hallmark" AND Customers.CustFirstName
="Alaina");
''';

print(execute_query(SalesOrders, query8))

### P9. What is the total revenue that a customer named Alaina Hallmark has brought through product sales?

In [ ]:
####TODO 9: put your sql query in the following three single quotes
query9 = '''

''';


print(execute_query(SalesOrders, query9))

### P10. In which state do most customers live? Report both the state name and the number of customers living in that state.

In [ ]:
####TODO 10: put your sql query in the following three single quotes
query10 = '''
SELECT count(*) AS custNum,Customers.CustState FROM Customers 
GROUP BY Customers.CustState ORDER BY custNum DESC LIMIT 1;
''';

print(execute_query(SalesOrders, query10))