In [1]:
import sqlite3, pandas

def execute_query(db_file, query):
    try:
        return pandas.read_sql_query(query, sqlite3.connect(db_file))
    except sqlite3.Error as e:
        print(e)
        
BowlingLeague = "BowlingLeague.sqlite"
EntertainmentAgency = "EntertainmentAgency.sqlite"
SalesOrders = "SalesOrders.sqlite"

## Sample Question on SalesOrders.sqlite: What bikes (CategoryID=2) cost more than $1000?

In [2]:
# Please make sure you can run this sample code.
query = '''
SELECT ProductName, RetailPrice
FROM Products
WHERE CategoryID=2 AND RetailPrice > 1000;
'''

print(execute_query(SalesOrders, query))#execute the query on the database

                ProductName  RetailPrice
0   Trek 9000 Mountain Bike         1200
1  Eagle FS-3 Mountain Bike         1800
2    GT RTS-2 Mountain Bike         1650

### Your assignment starts from here. In your submission, delete all unnessecary code. Only leave the query string.

In [3]:
print("Name:", "Name") ###TODO
print("NetID:", "NetID") ###TODO

Name: Name
NetID: NetID

# EntertainmentAgency.sqlite

### P1. What is the percentage of male and female entertainer members whose musical style is Jazz? The query should output the percentages of each gender separately and indicate which is which.

Note: The percentage here means percentage out of all entertainer members

In [9]:
####TODO 1: put your sql query in the following three single quotes
query1 = '''
SELECT Members.Gender as Gender, 100 * COUNT(*) / (SELECT COUNT(*)  FROM Members) 
FROM Entertainer_Styles
JOIN Musical_Styles 
ON Entertainer_Styles.StyleID = Musical_Styles.StyleID 
JOIN Entertainer_Members
ON Entertainer_Styles.EntertainerID = Entertainer_Members.EntertainerID
JOIN Members
ON Entertainer_Members.MemberID = Members.MemberID
WHERE Musical_Styles.StyleName = "Jazz"
GROUP BY Members.Gender

'''
print(execute_query(EntertainmentAgency, query1))

  Gender  100 * COUNT(*) / (SELECT COUNT(*)  FROM Members)
0      F                                                12
1      M                                                16

### P2. What is the fullname (in the form “LastName,FirstName”) of the top 3 agents who have the highest average commission per engagement? Print out both the full names and the average commissions. The average commission can be calculated by multiplying the contract price with the agent’s commission rate.

In [10]:
####TODO 2: put your sql query in the following three single quotes
query2 = '''
SELECT Agents.AgtFirstName, Agents.AgtLastName, avg(Agents.CommissionRate * Engagements.ContractPrice)
AS earning
FROM Agents
JOIN Engagements
ON Agents.AgentID = Engagements.AgentID
GROUP BY Agents.AgentID
ORDER BY earning
DESC 
LIMIT 3;

''';

print(execute_query(EntertainmentAgency, query2))

  AgtFirstName AgtLastName     earning
0         John     Kennedy  122.175000
1        Carol     Viescas   65.263158
2        Karen       Smith   60.160294

### P3. What is the total income of the Jazz entertainers (i.e.,the sum of all Jazz entertainers’ income across all of their engagements) and the total income of the Salsa entertainers? The income of each entertainer for each engagement is the ContractPrice of the engagement minus the agent’s commission. To receive credit you must not use subqueries anywhere (i.e., no nested SELECT clauses at all).

In [11]:
####TODO 3: put your sql query in the following three single quotes
query3 = '''
SELECT Musical_Styles.StyleName, sum(Engagements.ContractPrice - Engagements.ContractPrice * Agents.CommissionRate) as income
FROM Engagements JOIN Agents
ON Engagements.AgentID = Agents.AgentID
JOIN Entertainer_Styles
ON Engagements.EntertainerID = Entertainer_Styles.EntertainerID
JOIN Musical_Styles
ON Entertainer_Styles.StyleID = Musical_Styles.StyleID
WHERE Musical_Styles.StyleName in ("Jazz","Salsa")
GROUP BY Entertainer_Styles.StyleID;

''';

print(execute_query(EntertainmentAgency, query3))

  StyleName   income
0      Jazz  19623.3
1     Salsa  19115.7

### P4. What are the top 5 musical styles that have the highest number of customers, and how many customers each of these styles has?

In [ ]:
####TODO 4: put your sql query in the following three single quotes
query4 = '''

''';

print(execute_query(EntertainmentAgency, query4))

# BowlingLeague.sqlite

### P5. Which teams have captains with the same last name? Each such team must be listed exactly once, along with the team captain’s full name (in the form “LastName, FirstName”).

In [ ]:
####TODO 5: put your sql query in the following three single quotes
query5 = '''

''';

print(execute_query(BowlingLeague, query5))

### P6. List the TourneyDate,TourneyLocation,TeamNames and Lanes of the teams that have captains with the same last name. You can use only the team name from the results of the previous question. To receive credit you must not use subqueries anywhere (i.e., no nested SELECT clauses at all).

In [12]:
####TODO 6: put your sql query in the following three single quotes
query6 = '''
SELECT T1.TeamName, T2.TeamName, Tourney_Matches.Lanes as Tlanes,
Tournaments.TourneyDate as date, Tournaments.TourneyLocation as location
FROM Teams AS T1 JOIN Tourney_Matches
ON T1.TeamID = Tourney_Matches.OddLaneTeamID
JOIN Teams AS T2 
ON T2.TeamID = Tourney_Matches.EvenLaneTeamID
JOIN Tournaments
ON Tourney_Matches.TourneyID = Tournaments.TourneyID
WHERE T1.TeamName in ("Manatees", "Dolphins") OR
T2.TeamName in ("Manatees", "Dolphins");

''';

print(execute_query(BowlingLeague, query6))

      TeamName    TeamName Tlanes        date            location
0     Dolphins       Orcas  05-06  1999-06-05   Red Rooster Lanes
1     Manatees   Swordfish  07-08  1999-06-05   Red Rooster Lanes
2     Dolphins    Manatees  25-26  1999-06-12   Thunderbird Lanes
3     Manatees       Orcas  19-20  1999-06-19        Bolero Lanes
4     Dolphins   Swordfish  21-22  1999-06-19        Bolero Lanes
5      Marlins    Dolphins  09-10  1999-06-26      Imperial Lanes
6    Terrapins    Manatees  13-14  1999-06-26      Imperial Lanes
7     Dolphins      Sharks  13-14  1999-07-03  Sports World Lanes
8     Manatees  Barracudas  17-18  1999-07-03  Sports World Lanes
9      Marlins    Manatees  05-06  1999-07-10         Totem Lanes
10   Terrapins    Dolphins  07-08  1999-07-10         Totem Lanes
11    Manatees      Sharks  15-16  1999-07-17      Acapulco Lanes
12    Dolphins  Barracudas  19-20  1999-07-17      Acapulco Lanes
13    Manatees    Dolphins  25-26  1999-07-24   Red Rooster Lanes
14       Orcas    Manatees  19-20  1999-07-31   Thunderbird Lanes
15   Swordfish    Dolphins  21-22  1999-07-31   Thunderbird Lanes
16    Dolphins     Marlins  09-10  1999-08-07        Bolero Lanes
17    Manatees   Terrapins  13-14  1999-08-07        Bolero Lanes
18      Sharks    Dolphins  13-14  1999-08-14      Imperial Lanes
19  Barracudas    Manatees  17-18  1999-08-14      Imperial Lanes
20    Manatees     Marlins  05-06  1999-08-21  Sports World Lanes
21    Dolphins   Terrapins  07-08  1999-08-21  Sports World Lanes
22      Sharks    Manatees  15-16  1999-08-28         Totem Lanes
23  Barracudas    Dolphins  19-20  1999-08-28         Totem Lanes
24       Orcas    Dolphins  05-06  1999-09-04      Acapulco Lanes
25   Swordfish    Manatees  07-08  1999-09-04      Acapulco Lanes

### P7. How many teams have the different players with the same last name? To receive credit you must not use subqueries anywhere (i.e., no nested SELECT clauses at all).

In [ ]:
####TODO 7: put your sql query in the following three single quotes
query7 = '''

''';

print(execute_query(BowlingLeague, query7))

# SalesOrders.sqlite

### P8. Print the states that have a customer, but no vendor.

In [13]:
####TODO 8: put your sql query in the following three single quotes
query8 = '''
SELECT DISTINCT Customers.CustState FROM Customers
EXCEPT
SELECT DISTINCT Vendors.VendState FROM Vendors;
''';

print(execute_query(SalesOrders, query8))

  CustState
0        OR

### P9. Print a listing of all the states in the US along with a list of the customer names in each state.

HINT1: GROUP_CONCAT() is an aggregator in SQLite that makes a list of strings. https://sqlite.org/lang_aggfunc.html#groupconcat

HINT2: You may copy-paste the following subquery into your query to generate a tables of states:                    VALUES ('AL'),('AK'),('AZ'),('AR'),('CA'),('CO'),('CT'),('DE'),('DC'),('FL'),('GA'),('HI'),('ID'),('IL'),('IN'),('IA'),('KS'),('KY'),('LA'),('ME'),('MD'),('MA'),('MI'),('MN'),('MS'),('MO'),('MT'),('NE'),('NV'),('NH'),('NJ'),('NM'),('NY'),('NC'),('ND'),('OH'),('OK'),('OR'),('PA'),('RI'),('SC'),('SD'),('TN'),('TX'),('UT'),('VT'),('VA'),('WA'),('WV'),('WI'),('WY')

In [ ]:
####TODO 9: put your sql query in the following three single quotes
query9 = '''

''';
print(execute_query(SalesOrders, query9))

### P10. Print all the pair of products whose names have the same number of characters. List each pair only once (ie., don't list both A,B and B,A).

HINT: SQLite has a LENGTH() function that can be applied to text. https://sqlite.org/lang_corefunc.html#length

In [14]:
####TODO 10: put your sql query in the following three single quotes
query10 = '''
SELECT P1.ProductNumber, P2.ProductNumber 
FROM Products AS P1 CROSS JOIN Products AS P2 
WHERE length(P1.ProductName) = length(P2.ProductName)
AND P1.ProductNumber < P2.ProductNumber;
''';
print(execute_query(SalesOrders, query10))

    ProductNumber  ProductNumber
0               1              9
1               1             22
2               1             27
3               1             33
4               1             39
5               2             15
6               2             30
7               3             23
8               5             14
9               5             21
10              5             26
11              5             31
12              6             11
13              6             12
14              6             34
15              9             22
16              9             27
17              9             33
18              9             39
19             10             38
20             11             12
21             11             34
22             12             34
23             13             29
24             14             21
25             14             26
26             14             31
27             15             30
28             17             20
29             17             40
30             18             36
31             20             40
32             21             26
33             21             31
34             22             27
35             22             33
36             22             39
37             26             31
38             27             33
39             27             39
40             33             39
41             35             37